<%- include('../layouts/header') %> <%- include('../layouts/navbar') %>
<div class="row m-3 mb-5">
  <div class="col-6 offset-3 mb-5">
    <div class="alert alert-danger mb-5" role="alert">
      <h4 class="alert-heading">ERROR!!!!</h4>
      <p><%= message %></p>
      <hr />
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
