<%- include('../layouts/header') %>
<!-- Navbar -->
<%- include('../layouts/navbar') %>
<div id="container">
  <!-- Home -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide home mt-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner pb-5 px-1">
      <% for(var i=0; i<3; i++){ %>
      <div class="carousel-item <% if (i===0) { %> active <% } %>">
        <div class="d-flex justify-content-around">
          <div class="movie">
            <img
              onclick="movieDetails(id)"
              class="img"
              src=""
              style="height: 500px; width: 700px; margin-bottom: 20px"
              class="d-inline"
              alt="..."
            />
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Shows  -->

  <p id="shows" class="display-5 text-center mt-5">TV Shows</p>
  <div class="shows overflow-auto d-flex mt-3 scrollbarHide">
    <% for( let index = 0; index < 9; index++ ) { %>
    <div class="movie">
      <img
        onclick="movieDetails(id)"
        class="img"
        style="height: 250px; width: 250px; margin-bottom: 20px"
        src=""
        class="d-block m-1"
        alt="..."
      />
    </div>
    <% } %>
  </div>

  <!-- Trendings  -->
  <p class="display-5 text-center mt-5">Trendings</p>
  <div id="trendings" class="trendings overflow-auto d-flex mt-3 scrollbarHide">
    <% for( let index = 0; index < 9; index++ ) { %>
    <div class="movie">
      <img
        onclick="movieDetails(id)"
        class="img"
        style="height: 250px; width: 250px; margin-bottom: 20px"
        src=""
        class="d-block m-1"
        alt="..."
      />
    </div>
    <% } %>
  </div>
</div>

<!-- footer  -->

<%- include('../layouts/footer') %>
