<%- include('../layouts/header') %> <%- include('../layouts/navbar') %>

<div style="margin-left: 30em; margin-top: 4em; margin-bottom: 7em">
  <h1 class="display-3">Login</h1>
  <div class="row">
    <div class="col-6 mt-3">
      <form action="/login" method="POST">
        <input
          required
          class="form-control"
          type="text"
          id="username"
          name="username"
          autocomplete="off"
          placeholder="username"
        />
        <br />
        <input
          required
          class="form-control"
          type="password"
          id="password"
          name="password"
          placeholder="password"
        />
        <br />
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
