<div  class="footer-dark mt-3 border-top p-3">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3 style="color: hsla(0, 0%, 100%, 0.651)">Services</h3>
            <ul>
              <li>
                <a target="_blank" href="https://github.com/axios/axios"
                  >Axios</a
                >
              </li>
              <li>
                <a target="_blank" href="https://www.tvmaze.com/api"
                  >TvMaze API</a
                >
              </li>
              <li>
                <a target="_blank" href="https://getbootstrap.com/"
                  >bootstrap</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3 style="color: hsla(0, 0%, 100%, 0.651)">About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <a
              class="navbar-brand logo"
              style="color: hsla(0, 0%, 100%, 0.651)"
              href="#"
              >GetMovieInfo</a
            >
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui
              deleniti sint possimus dolorem delectus deserunt quae, et quod
              est? Ut iste in hic quam, corrupti culpa dolorem! Voluptatum,
              necessitatibus corporis!
            </p>
          </div>
          <div class="col item social">
            <a href="#"><i class="icon ion-social-facebook"></i></a
            ><a href="#"><i class="icon ion-social-twitter"></i></a
            ><a href="#"><i class="icon ion-social-snapchat"></i></a
            ><a href="#"><i class="icon ion-social-instagram"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="app.js"></script>
</body>
</html>
