<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">GetMovieInfo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: large">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            onclick="reload()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#trendings"
            >Trendings</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#shows">Shows</a>
        </li>
      </ul>
      <form class="d-flex mx-3" action="/search">
        <input
          id="input"
          type="text"
          class="form-control me-2"
          placeholder="Search"
          autocomplete="off"
          name="title"
        />
        <button id="search" type="submit" class="btn btn-outline-success">
          Search
        </button>
      </form>
      <% if(!currentUser){ %>
      <a href="/login" class="btn mx-3 btn-primary">LogIn</a>
      <a href="/register" class="btn btn-primary">Register</a>
      <% } else{ %>
      <a href="/logout" class="btn btn-secondary">Logout</a>
      <% } %>
    </div>
  </div>
</nav>

<%- include('../layouts/flash') %>
